.game__header {
  margin-bottom: 6rem;
  min-height: 11rem;
  justify-content: space-between;
}

.game__screen {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 28rem;
}
