.toast {
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--beige);
  box-shadow: 0 1rem 1rem rgb(0 0 0 / 10%);
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-areas:
    'icon title close'
    'icon text close';
  grid-template-columns: min-content 1fr min-content;
  min-height: 4rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
  max-width: 29rem;
}

.toast-icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-close-button {
  display: flex;
  background-color: transparent;
  border: none;
  box-shadow: none;
  grid-area: close;
  min-width: 2rem;
  min-height: 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.closing-cross {
  align-self: center;
}

.closing-cross path {
  stroke: var(--gray);
  transition: stroke 0.2s ease;
}

.closing-cross:hover path {
  stroke: var(--dark-gray);
}

.toast-title {
  font-size: 1rem;
  font-weight: 600;
  grid-area: title;
  margin: 0;
}

.toast-text {
  color: var(--dark-gray);
  font-size: 0.75rem;
  font-weight: 600;
  grid-area: text;
  margin: 0;
  width: 100%;
}

.circle-plus,
.circle-check,
.info {
  grid-area: icon;
  height: 1.25rem;
  width: 1.25rem;
}

/* Error Toast */
.toast-error {
  border-left: 5px solid var(--text-color-error);
}

.toast-error .toast-title {
  color: var(--text-color-error);
}

.toast-error .circle-plus {
  transform: rotate(45deg);
}

.toast-error .circle-plus path {
  stroke-width: 1;
  stroke: var(--text-color-error);
}

/* Success Toast */
.toast-success {
  border-left: 5px solid var(--text-color-success);
}

.toast-success .toast-title {
  color: var(--text-color-success);
}

.toast-success .circle-check path {
  stroke: var(--text-color-success);
}

/* Info Toast */
.toast-info {
  border-left: 5px solid var(--text-color-info);
}

.toast-info .toast-title {
  color: var(--text-color-info);
}

.toast-info .info path {
  stroke: var(--text-color-info);
}
