.login__form {
  display: grid;
  gap: 1.25rem 1.75rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
}

.login__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  width: 100%;
}

.login__label {
  text-align: center;
}

.login__input {
  width: 100%
}

.login__button {
  grid-column: span 2;
  justify-self: center;
  margin: 0;
  width: 11rem;
}

.replay {
  font-size: 1.25rem;
}
