.error-screen {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.error-screen__title {
  margin: 1rem 0 0;
}

.error-screen__text {
  margin: 0;
}

.error-screen__rules {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error-screen__rules-list {
  display: grid;
  justify-items: start;
}
