.error-screen {
  gap: 3rem;
}

.error-screen__text {
  margin: 0;
}

.error-screen__rules {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4.5rem;
}

.error-screen__rules-list {
  display: grid;
  justify-items: start;
  margin: 0;
}

.error-screen__button {
  margin-top: auto;
}
