.not-found {
  gap: 2rem;
}

.not-found__title {
  font-size: 4rem;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.not-found__subtitle {
  font-size: 2rem;
  margin: 0;
}

.not-found__description {
  margin-top: 6rem;
}

.not-found__link {
  margin-top: auto;
}
